

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="macite">
      <ion-icon name="business"></ion-icon>
      <ion-label>Ma Cité</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chambres">
      <ion-icon name="bed"></ion-icon>
      <ion-label>Chambres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservations">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Réservations</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



